$servise-text: $gray-900;
$dark-services-section-bg: $dark-blue;

.service-section{
    padding: 77px 0 80px;
    
    h2{
        margin-bottom: 4.5rem;
    }
    .service-item{
        margin-bottom: 2.7rem;
        span{
            color: $gray-900;
        }
    }
    &.dark-services-section{
        background-color: $dark-services-section-bg;
        h2{
            color: $primary;
        }
        .read-more{
            font-weight: $font-weght-medium;
            font-size: 1.4rem;
            font-height: 1.7rem;
        }
        .service-item-description{
            font-size: 1.6rem;
            line-height: 2.5rem;
            height: 7.5rem;
            overflow: hidden;
        }
    }
}
//services-content
.service-content{
    padding: 50px 0;
    ul{
        list-style: none;
    }
}

@media(min-width: 992px){
    .service-content{
    padding: 107px 0;
}
}
